<form name="authForm" ng-submit="vm.register(vm.user)" class="form-signin" novalidate>
    <h2 class="form-signin-heading">Sign up</h2>
    <p ng-show="!error" class="error" ng-bind="vm.message"></p>
    
    <!-- email error -->
    <div ng-show="authForm.$submitted">
        <p ng-show="authForm.email.$error.required" class="text-danger">Email required</p>
        <p ng-show="authForm.email.$error.email" class="text-danger">Please enter a valid email.</p>
    </div>
    
    <input name="email" 
           ng-model="vm.user.email" 
           type="email" 
           class="form-control" 
           placeholder="Email Address" 
           required 
           autofocus>

    <input ng-model="vm.user.password" 
           type="password" 
           class="form-control" 
           placeholder="Password" 
           required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>